* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// body {
//   // background-image: url("../img/1592878964_p-multfilm-timon-i-pumba-56.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
//   font-family: "Roboto", sans-serif;
// }

.main-form {
  width: 400px;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  padding: 20px;
  font-size: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form {
  padding: 10px;
}

.form-text {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 15px;
  color: rgb(59, 59, 59);
}

.input {
  width: 100%;
  border: 1px solid transparent;
  font-size: 20px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  padding: 15px;
  outline: none;
}
.input:hover,
.input:focus,
.input:active {
  filter: drop-shadow(0 0 3px teal);
}

.input-error {
  filter: drop-shadow(0 0 3px red);
}

.btn-sign-in {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(68, 127, 124);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn-sign-in:hover {
  background-color: rgb(150, 46, 86);
}

.error-message {
  font-size: 10;
  padding-top: 5px;
  color: red;
  opacity: 0;
}

.error-message--active {
  opacity: 1;
}

h3 {
  text-align: center;
  padding: 15px;
}

.result {
  text-align: center;
  padding: 20px;
  display: none;
}

.result--active {
  display: block;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: rgb(255, 0, 144);
}

.links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.link__auth {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  background-color: rgb(150, 46, 86);
  margin: 10px;
  margin-top: 80px;
  color: #fff;
  border-radius: 5px;
}
